body,
html {
  min-height: 100vh;
  height: 100%;
  overflow-y: scroll;
}
.header {
  height: 60px;
  border: solid black 1px;
}

.headerbtn {
  margin-right: 10px;
  padding-left: 10px;
  margin-left: 900px;
  text-align: right;
  text-align: center;
  margin-top: -25px;
}
.headerbtn a {
  margin-left: 20px;
  text-decoration: none;
  font-size: large;
}
.headertitle {
  color: rgb(105, 160, 209);
  height: 70px;
  font-size: xx-large;
  margin-left: 150px;
  font-weight: 600;
}

/* src/component/Home.css */
.home-background {
  height: 500px; /* Set a height to see the background image */
  background-image: url("../public/asset/img/hotel.webp"); /* Correct path for public folder */
  background-size: cover;
  background-position: center;
  border: solid 2px rgb(184, 184, 184);
}

.innerimgtext {
  padding-top: 230px;
  padding-bottom: 200px;
  padding-left: 500px;
}
.welcometxt {
  font-weight: 600;
  font-size: 50px;
  color: rgb(255, 255, 255);
}
.welcometxt label {
  color: hsl(16.11deg 100% 65.69%);
}
.loweimgtext {
  font-weight: 600;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.outer1 {
  background-color: hsl(0deg 0% 97.65%);
  width: 250px;
  padding-left: 10px;
  border-radius: 7px;
  color: hsl(222.35deg 20% 50%);

  border: solid 1px black;
}
.inner1 {
  background-color: hsl(0deg 0% 100%);
  border-radius: 7px;
  font-weight: 600;

  margin-top: 10px;
  border: solid 1px black;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  color: hsl(0deg 0.84% 46.67%);

  font-weight: 400;
}

.outer2 {
  background-color: hsl(0deg 0% 97.65%);
  font-weight: 600;

  border-radius: 7px;
  margin-left: 150px;
  width: 250px;
  padding-left: 10px;
  color: hsl(222.35deg 20% 50%);

  border: solid 1px black;
}
.inner2 {
  padding-left: 10px;
  margin-right: 10px;
  border-radius: 7px;
  margin-left: 10px;
  margin-top: 10px;
  color: hsl(0deg 0.84% 46.67%);

  font-weight: 400;
  background-color: hsl(0deg 0% 100%);

  border: solid 1px black;
}

.outer3 {
  background-color: hsl(0deg 0% 97.65%);
  font-weight: 600;

  margin-left: 150px;
  width: 250px;
  padding-left: 10px;
  border-radius: 7px;
  border: solid 1px black;
  color: hsl(222.35deg 20% 50%);
}
.inner3 {
  border-radius: 7px;
  padding-left: 10px;
  font-weight: 400;
  background-color: hsl(0deg 0% 100%);
  color: hsl(0deg 0.84% 46.67%);
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: solid 1px black;
}

.data {
  display: flex;
  position: relative;
  height: 80px;
  padding-left: 120px;
  margin-top: 30px;
}

.data .homebtnsearchroom {
  height: 20px;
  margin-left: 30px;
  border-radius: 7px;
  padding: 10px;
  margin-top: 10px;
  background-color: hsl(183.13deg 100% 26.27%);
  color: #fff;
  border: #fff;
  padding-bottom: 13px;
}

.last {
  margin-top: 100px;
}
.allrm {
  margin-left: 100px;
  padding: 10px;
  padding-left: 5px;
  margin-right: 1300px;
  text-align: center;
  margin-top: 20px;
}
.allrm a {
  color: hsl(16.11deg 100% 65.69%);
  font-size: large;
}
.homenametitile {
  text-align: center;
  font-size: 50px;
}

.homenametitile #hs {
  color: hsl(183.13deg 100% 26.27%);
}
.homenametitile #hh {
  color: hsl(16.11deg 100% 65.69%);
}

.upperservice {
  position: relative;
  display: flex;
}
.upperservice {
  display: flex;
  position: relative;
  height: 70px;
}

.airconimg {
  text-align: center;
  margin: 20px;
  align-items: center;
}
.firstservice {
  border: solid black 1px;
  border-radius: 7px;
  display: flex;
  position: relative;
}
.servicesection {
  margin-left: 100px;
  margin-top: 50px;
}
.firstair {
  color: hsl(183.13deg 100% 26.27%);
  font-weight: 700;

  font-size: 20px;
}
.airsml {
  font-size: 15px;
}

.secondservice {
  border: solid black 1px;
  border-radius: 7px;
  margin-right: 80px;
  display: flex;
  margin-left: 50px;
}
.secnimg {
  margin-left: 10px;
  margin: 20px;
}
.upperservice {
  margin-top: 50px;
}

.dateInput {
  margin-left: auto;
  margin-right: auto;
  height: 2.5em;
  width: 12.5em;
  border-radius: 2.5em;
  border: none;
  background-color: rgb(255, 255, 255);
  -webkit-filter: drop-shadow(1px 1px 10px #000);
  filter: drop-shadow(7px 7px 10px #00000059);
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(77, 77, 77);
  text-align: center;
  font-size: 14px;
  outline: 2px solid rgba(0, 0, 0, 0);
  transition: outline-offset 0.5s ease, outline-color 0.5s ease,
    height 0.5s ease, width 0.5s ease, filter 0.5s ease;
}

.dateInput:focus {
  outline-offset: 0.5em;
  outline-color: rgba(0, 0, 0, 0.228);
  transition: 0.2s;
  height: 3em;
  width: 13em;
  -webkit-filter: drop-shadow(1px 1px 10px #000);
  filter: drop-shadow(-7px 7px 10px #00000059);
}

.dateInput::placeholder {
  padding-left: 0.8em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  transform: translateX(-6px);
  transition: transform 0.5s ease;
}

.dateInput:focus::placeholder {
  transform: translateX(-85px);
  transition: 0.5s;
}
.outerlogindiv {
  margin-left: 500px;
  margin-top: 50px;
  height: 400px;
  width: 500px;
  border: solid black 1px;
  border-radius: 12px;
}
.registertitle {
  font-size: 50px;
  margin-left: 180px;
  color: hsl(183.13deg 100% 26.27%);
  font-weight: 500;
}

.logintitle {
  font-size: 50px;
  margin-left: 200px;
  color: hsl(183.13deg 100% 26.27%);
  font-weight: 500;
}

.labelemail {
  margin-left: 50px;
  margin-top: 10px;
  font-weight: 1000;
  color: hsl(183.13deg 100% 26.27%);
}
.EnterEmail {
  margin-left: 50px;
  margin-top: 0px;
}
.EnterEmail input {
  width: 400px;
  height: 30px;
  border-radius: 5px;
  border-width: 1px;
  background-color: hsl(218.18deg 91.67% 95.29%);
  padding-left: 10px;
}
.labelpassword {
  margin-left: 50px;
  margin-top: 10px;
  font-weight: 1000;
  color: hsl(183.13deg 100% 26.27%);
}
.EnterPassword {
  margin-left: 50px;
}
.EnterPassword input {
  width: 400px;
  height: 30px;
  border-radius: 5px;
  border-width: 1px;
  background-color: hsl(218.18deg 91.67% 95.29%);
  padding-left: 10px;
}
.Loginbtn {
  margin-left: 50px;
  margin-top: 40px;
}
.Loginbtn button {
  cursor: pointer;
  width: 415px;
  height: 40px;
  border-radius: 5px;
  border-width: 1px;
  background-color: hsl(218.18deg 91.67% 95.29%);
  padding-left: 10px;
  background-color: hsl(183.13deg 100% 26.27%);
}
.Donthaveac {
  font-weight: 500;
  margin-top: 30px;
  font-size: small;
  margin-left: 50px;
}
.donthaveactoregister {
  text-decoration: none;
  font-size: small;

  color: hsl(183.13deg 100% 26.27%);
}
.labelname {
  margin-left: 50px;
  margin-top: 30px;
  font-weight: 1000;
  color: hsl(183.13deg 100% 26.27%);
}
.EnterName input {
  width: 400px;
  height: 30px;
  margin-left: 50px;
  border-radius: 5px;
  border-width: 1px;
  background-color: hsl(218.18deg 91.67% 95.29%);
  padding-left: 10px;
}

.labelNumber {
  margin-left: 50px;
  margin-top: 10px;
  font-weight: 1000;
  color: hsl(183.13deg 100% 26.27%);
}
.EnterNumber input {
  width: 400px;
  height: 30px;
  margin-left: 50px;
  border-radius: 5px;
  border-width: 1px;
  background-color: hsl(218.18deg 91.67% 95.29%);
  padding-left: 10px;
}
.outerregisterationdiv {
  .no-scroll {
    overflow: hidden;
  }

  margin-left: 500px;
  margin-top: 60px;
  height: 500px;
  width: 500px;
  border: solid black 1px;
  border-radius: 12px;
}
.allroomtitle {
  margin-top: 40px;
  font-size: 50px;
  margin-left: 600px;
  color: hsl(183.13deg 100% 26.27%);
  font-weight: 500;
}
.roompagedata {
  margin-top: 60px;
}
.filterroomtype {
  margin-top: 0px;
  display: flex;
  margin-left: 130px;
  color: hsl(183.13deg 100% 26.27%);
  font-weight: 500;
}
.filterall {
  margin-left: 5px;
  border: solid black 1px;
  padding: 2px;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

/* .footer {
  align-items: center;
  text-align: center;
  font-size: 15px;
  margin-top: 100px;
 
} */
.footer {
  position: fixed;
  left: 0;
  padding-top: 25px;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: hsl(0deg 0% 26.67%);
  color: white;
  text-align: center;
}
.findbooking {
  margin-top: 40px;
  font-size: 50px;
  margin-left: 600px;
  color: hsl(183.13deg 100% 26.27%);
  font-weight: 500;
}

.findbookinginputbtn {
  margin-top: 100px;
  display: flex;
  position: relative;
  margin-left: 600px;
  width: 700px;
}
.findbookinginput {
  padding: 5px;
  width: 250px;
  border-radius: 7px;
  border-width: 1px;
  height: 20px;
  padding-left: 10px;
}
.findroombtn {
  height: 35px;
  margin-left: 30px;
  border-radius: 3px;
  width: 70px;
  background-color: hsl(183.13deg 100% 26.27%);
  color: #fff;
  border: #fff;
  margin-left: 10px;
}
