body,
html {
  min-height: 100vh;
  height: 100%;
  overflow-y: scroll;
}
.header {
  height: 60px;
}

.headerbtn {
  margin-right: 10px;
  padding-left: 10px;
  margin-left: 900px;
  text-align: right;
  text-align: center;
  margin-top: -25px;
}
.headerbtn a {
  margin-left: 20px;
  text-decoration: none;
  font-size: large;
}
.headertitle {
  color: rgb(105, 160, 209);
  height: 70px;
  font-size: xx-large;
  margin-left: 150px;
}

/* src/component/Home.css */
.home-background {
  height: 500px; /* Set a height to see the background image */
  background-image: url("../public/asset/img/hotel.webp"); /* Correct path for public folder */
  background-size: cover;
  background-position: center;
  border: solid 2px rgb(184, 184, 184);
}

.innerimgtext {
  padding-top: 230px;
  padding-bottom: 200px;
  padding-left: 500px;
}
.welcometxt {
  font-weight: 600;
  font-size: 50px;
  color: rgb(255, 255, 255);
}
.welcometxt label {
  color: hsl(16.11deg 100% 65.69%);
}
.loweimgtext {
  font-weight: 600;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.outer1 {
  background-color: hsl(0deg 0% 97.65%);
  width: 250px;
  padding-left: 10px;
  border-radius: 7px;
  color: hsl(222.35deg 20% 50%);

  border: solid 1px black;
}
.inner1 {
  background-color: hsl(0deg 0% 100%);
  border-radius: 7px;
  font-weight: 600;

  margin-top: 10px;
  border: solid 1px black;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  color: hsl(0deg 0.84% 46.67%);

  font-weight: 400;
}

.outer2 {
  background-color: hsl(0deg 0% 97.65%);
  font-weight: 600;

  border-radius: 7px;
  margin-left: 150px;
  width: 250px;
  padding-left: 10px;
  color: hsl(222.35deg 20% 50%);

  border: solid 1px black;
}
.inner2 {
  padding-left: 10px;
  margin-right: 10px;
  border-radius: 7px;
  margin-left: 10px;
  margin-top: 10px;
  color: hsl(0deg 0.84% 46.67%);

  font-weight: 400;
  background-color: hsl(0deg 0% 100%);

  border: solid 1px black;
}

.outer3 {
  background-color: hsl(0deg 0% 97.65%);
  font-weight: 600;

  margin-left: 150px;
  width: 250px;
  padding-left: 10px;
  border-radius: 7px;
  border: solid 1px black;
  color: hsl(222.35deg 20% 50%);
}
.inner3 {
  border-radius: 7px;
  padding-left: 10px;
  font-weight: 400;
  background-color: hsl(0deg 0% 100%);
  color: hsl(0deg 0.84% 46.67%);
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: solid 1px black;
}

.data {
  display: flex;
  position: relative;
  height: 80px;
  padding-left: 120px;
  margin-top: 30px;
}

.data .homebtnsearchroom {
  height: 20px;
  margin-left: 30px;
  border-radius: 7px;
  padding: 10px;
  margin-top: 10px;
  background-color: hsl(183.13deg 100% 26.27%);
  color: #fff;
  border: #fff;
  padding-bottom: 13px;
}

.last {
  margin-top: 100px;
}
.allrm {
  margin-left: 100px;
  padding: 10px;
  padding-left: 5px;
  margin-right: 1300px;
  text-align: center;
  margin-top: 20px;
}
.allrm a {
  color: hsl(16.11deg 100% 65.69%);
  font-size: large;
}
.homenametitile {
  text-align: center;
  font-size: 50px;
}

.homenametitile #hs {
  color: hsl(183.13deg 100% 26.27%);
}
.homenametitile #hh {
  color: hsl(16.11deg 100% 65.69%);
}

.upperservice {
  position: relative;
  display: flex;
}
.upperservice {
  display: flex;
  position: relative;
  height: 70px;
}

.airconimg {
  text-align: center;
  margin: 20px;
  align-items: center;
}
.firstservice {
  border: solid black 1px;
  border-radius: 7px;
  display: flex;
  position: relative;
}
.servicesection {
  margin-left: 100px;
  margin-top: 50px;
}
.firstair {
  color: hsl(183.13deg 100% 26.27%);
  font-weight: 700;

  font-size: 20px;
}
.airsml {
  font-size: 15px;
}

.secondservice {
  border: solid black 1px;
  border-radius: 7px;
  margin-right: 80px;
  display: flex;
  margin-left: 50px;
}
.secnimg {
  margin-left: 10px;
  margin: 20px;
}
.upperservice {
  margin-top: 50px;
}

.footer {
  height: 50px;
  background-color: hsl(0deg 0% 26.67%);
  align-items: center;
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
  padding-top: 25px;
}
